@charset 'UTF-8';

.product-card {
            background: white;
            width: 250px;
            border-radius: 12px;
            overflow: hidden;
            box-shadow: var(--shadow);
            transition: 0.3s;
            flex-shrink: 0;
            
            
        }

        .product-card:hover {
            transform: translateY(-5px);
        }

        .product-card img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        .product-info {
            padding: 15px;
            text-align: center;
        }

        .price {
            color: var(--secondary);
            font-size: 1.3rem;
            font-weight: bold;
            margin: 10px 0;
        }

        .btn-add {
            background: var(--primary);
            color: white;
            border: none;
            width: 100%;
            padding: 12px;
            border-radius: 8px;
            cursor: pointer;
            font-weight: bold;
            transition: 0.2s;
        }

        /* PARA BOTOES ADM PRODUTOS EM STOCK */
        .btn-publicar,  .btn-editar, .btn-eliminar{
            background: var(--primary);
            color: white;
            border: none;
            width: 30%;
            padding: 6px;
            border-radius: 8px;
            cursor: pointer;
            font-weight: bold;
            transition: 0.2s;
        }

        .btn-editar{
            background-color: var(--accent);
        }

        .btn-eliminar{
            background-color: #d32f2f;
        }


        .btn-add:hover {
            background: var(--secondary);
        }
