@charset 'UTF-8';

header {
            background: rgba(27, 94, 31, 0.447);
            backdrop-filter: blur(15px);
            -webkit-backdrop-filter: blur(15px);
            color: white;
            border-radius: 15px;
            padding: 15px 5%;
            margin: 0 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: sticky;
            top: 10px;
            z-index: 100;
        }

        .logo-img {
            width: 100px;
            height: 50px;
            margin: 0;
            padding: 0;
            cursor: pointer;
        }

         div.menu-hambur img {
            background-color: #ffffff14;
            width: 32px;
            height: 32px;
            
        }

        div.menu-hambur{
            display: none;
        }

        .cart-icon {
            position: relative;
            cursor: pointer;
            font-size: 1.5rem;
            text-decoration: none;
            transition: .9s;

        }

        .cart-icon:hover{
            opacity: .7;
        }


        .cart-count {
            position: absolute;
            top: -10px;
            right: -10px;
            background: var(--accent);
            color: black;
            font-size: 0.8rem;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
        }

        /* Estilo da barra de navegação */
        .navbar {
            display: flex;
            text-align: right;
            gap: 20px;
        }

        .navbar a {
            text-align: right;
            white-space: nowrap;
            color: white;
            font-weight: bolder;
            font-size: 1.5em;
            text-decoration: none;
            transition: 0.3s;
        }

        .navbar a:hover, .nav-movel a:hover {
            color: var(--accent);
        }

         .nav_subCat{
            background-color: #fff;
            top: 100%;
            left: -28px;
            width: 200px;
            opacity: 0;
            visibility: hidden;
            transform: translateY(10px);
            transition: opacity 0.3s ease, transform .3s ease, visibility .3s;
            box-shadow: 0 10px 25px rgba(0, 0,0, 0.15);
            border-radius: 8px;
            overflow: hidden;
            position: absolute;
            padding: 20px 40px;
            z-index: 100;
            display: flex;
            flex-flow: column nowrap;
            align-items: start;
            gap: 10px;
        }
        
        .nav_subCat a{
            color: rgb(1, 62, 1);
        }

        .link_categoria{
            
            position: relative;
        }

        .link_categoria:hover .nav_subCat{
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
        @media (max-width: 900px) {
            .navbar a {
                font-size: 1.1rem;
                width: auto;
                text-align: center;
                padding: 10px 0;
            }

            header {
                padding: 15px 20px;
            }

            
        }

        @media (max-width: 600px) {
            header {
                padding: 12px 16px;
            }

            .navbar  {
                display: none;
            }

            .cart-icon {
                font-size: 1.4rem;
            }
                    
            div.menu-hambur {
                cursor: pointer;
                display: block;
            }
        }


        
        aside.menu-movel{
            display: none;
            width: 70vw;
            height: 350px;
            text-align: center;
            position: fixed;
            top: 0;
            background-color: #fff;
            z-index: 100;
            
        }

        aside.menu-movel .nav-movel{
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-evenly;
            gap: 10px;
            width: 100%;
            
        }

        .nav-movel a{
            text-decoration: none;
            padding: 10px 0px;
            color: rgb(2, 64, 2);
            font-weight: 900;
        }

        .close-cart{
            position: absolute;
            padding: 10px;
            right: 0;
            z-index: 10;
        }

        .close-cart:hover{
            cursor: pointer;
        }

        


            
